# SECRET_KEY был перемещен в .env
ACCESS_TOKEN_EXPIRE_MINUTES=30
SECRET_KEY=change_this_to_a_strong_secret_key
ALGORITHM=HS256

# Добавлен refresh token
REFRESH_TOKEN_SECRET_KEY=change_this_to_another_strong_key
REFRESH_TOKEN_EXPIRE_DAYS=7

# Настройки базы данных PostgreSQL
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name

# Настройки панели pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=your_pgadmin_password