DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/my_store_db
SECRET_KEY=SUPER_EBUCHII_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_SECRET_KEY=afsfsdafagdsa132
REFRESH_TOKEN_EXPIRE_DAYS=7
REDIS_URL=redis://localhost:6379